body{
    margin: 0px;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    height: 11vh;
    background-color: rgb(190 49 68);
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0px;
}
#navbar>a{
    text-decoration: none;
    font-size: 27px;
    color: white;
    font-family: sans-serif;
    padding: 25px;
    /* font-weight: bold; */
}
#welcome-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
#welcome-section>h1{
    font-size: xxx-large;
    margin-bottom: 10px; 
    color: white;
    font-family: sans-serif;
}
#welcome-section>p{
    margin-top: 10px;
    color: rgb(190 49 68);
    font-size: xx-large;
    font-weight: lighter;
}
#projects{
    background-color: rgb(69 86 125);
}
#projects>h2{
    color: white;
    text-decoration: underline 2px;
    font-size: xx-large;
    margin-top: 0px;
    text-align: center;
    padding-top: 100px;
    font-weight: bolder;
    font-family: sans-serif;
}


.project-tile{
    box-shadow: 2px 5px 5px black;
    transition: width 0.5s, height 0.5s;
}

.project-tile:hover{
    width: 44vw;
    height: 54vh;
}
.project-img{
    width: 100%;
    height: 70%;
    margin-bottom: 0px;
    padding: 0px;
}
.project-headers{
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-family: sans-serif;
    margin: 20px;
    padding: 0px;
}
.project-tile>a{
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 0px;
}
.project-tile>h3{
    margin: 0px;
    padding: 0px;
}
@media (max-width:600px) {

    .project-tile{
        display: block;
        width: 80vw;
        height: 50vh;
        margin: auto;
        margin-bottom: 20px;
        background-color: rgb(75 74 74);
    }
    .project-headers{
        font-size: 1.5em;
        /* overflow: hidden; */
    }
}

@media (min-width:600px) {
    #navbar{
        height:20vh;
      }
    .project-tile{
        display: inline-block;
        width: 40vw;
        height: 50vh;
        margin: auto;
        /* margin-bottom: 20px; */
        background-color: rgb(75 74 74);
    }
    .project-headers{
        font-size: 1em;
        margin-top:0px;
    }
    .flexbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
        /* margin-bottom: 40px; */
        padding-bottom: 40px;
    }
}
#contact{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: rgb(48 56 65);
    /* background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
}
#contact>h1{
    font-size: xxx-large;
    margin-top: 0px; 
    color: white;
    font-family: sans-serif;
    margin-bottom: 10px;
    text-align: center;
}
#contact>p{
    /* margin-top: 10px; */
    color: rgb(224, 224, 224);
    font-size:x-large;
    font-weight: lighter;
    margin-top: 10px;
}
#contacts>a{
    text-decoration: none;
}
.icons{
    font-size: 2.3vw;
    color: white;
    padding: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    display: inline-block;
    transition: transfrom 1s;
}

.icons:hover{
    transform: translateY(20px);
}